.page-container-alta-tema {
  min-height: calc(100vh - 100px);
}

.contenido-alta-tema {
  display: flex;
  height: 700px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.alta-tema-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
  height: 60%;
  width: 30%;
  padding: 30px;
  background-color: #ff8a17;
}

.boton-alta-tema {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
