.page-container-alta-admin {
  min-height: calc(100vh - 100px);
}

.contenido-alta-admin {
  display: flex;
  height: 700px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.alta-admin-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
  height: 40%;
  width: 30%;
  padding: 30px;
  background-color: #ff8a17;
}

.lugar-titulo-alta-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown-alta-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-radius: 10px;
}

.alta-admin-usuarios {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.boton-alta-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
