.page-container-inscribirme-empresarial {
  min-height: calc(100vh - 100px);
}

.contenido-inscribirme-empresarial {
  display: flex;
  height: 700px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inscribirme-empresarial-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
  height: 40%;
  width: 30%;
  padding: 30px;
  background-color: #ff8a17;
}

.header-inscribirme-empresarial {
  display: flex;
  border-radius: 50%;
  width: 100%;
  justify-content: center;
}

.boton-inscribirme-empresarial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
