.titulo-penca {
  color: black;
  height: 100%;
}

.page-container-home-adminEmpresarial {
  margin-top: -10px;
  min-height: calc(100vh - 50px);
}

.penca-info {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  color: black;
}

.penca-status {
  display: flex;
  width: 30%;
  height: 600px;
  justify-content: flex-start;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-right: 2%;
}

.penca-status-activity::-webkit-scrollbar {
  display: none;
}

.penca-activity {
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 68%;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.actividadUno {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 70%;
  overflow: auto;
}

.actividadUno::-webkit-scrollbar {
  display: none;
}

.usuarios {
  height: 100%;
  width: 100%;
}

.calificacion-penca {
  display: flex;
  justify-content: center;
  height: 100%;
}

.contenido-calificacion {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.columna-usuarios-penca {
  display: flex;
  justify-content: center;
  width: 10rem !important;
  height: 10rem !important;
  margin: 10px !important;
}

.participantes-listado {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.actividadDos {
  width: 30%;
  height: 100%;
}

.user-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.penca-status-activity {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.logo-jornadas {
  width: 50px;
  height: 50px;
}

.versus {
  margin-left: 20%;
  margin-right: 20%;
  color: red;
}

.versusAlt {
  margin-left: 20%;
  margin-right: 20%;
}

.score-jornada {
  width: 40%;
  border-radius: 5px;
}

.teams-jornadas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.match-jornada {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  color: white;
}

.boton-predecir {
  margin-left: 15%;
}

.theme-button {
  margin-left: 3px;
  margin-right: 3px;
}

.themeDos {
  font-family: "Maven Pro";
  font-size: 1.5rem;
  font-weight: bold;
}

.premio-penca {
  display: flex;
  flex-direction: row;
}

.puntaje-usuario {
  display: flex;
  flex-direction: row;
}

.pelota-puntaje {
  margin-left: 5px;
}

.boton-enviar-mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
}

.informacion-temas-penca-empresarial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.premio-icono {
  margin-bottom: 5px;
}

.predicciones-usuario-empresarial {
  overflow: auto;
  height: 600px;
}

.predicciones-usuario-empresarial::-webkit-scrollbar {
  display: none;
}

.prediccion-usuario-penca-empresarial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
}

.prediccion-equipo-empresarial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.predicciones-header-empresarial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.predicciones-refresh-empresarial {
  margin-left: 20px;
}

@media screen and (max-width: 1440px) {
  .page-container-home-participante {
    margin-bottom: 100px;
  }
}
